@import "../common";

// Background image
$editor-bgimage-preview-width: 70px;
$editor-bgimage-preview-height: 75px;

.background-image-preview {
  width: $editor-bgimage-preview-width;
  height: $editor-bgimage-preview-height;
}

input {
  width: 100%;
}
