/*
 * Card classes
 */
.card {
  position: relative;
  width: 400px;
  height: 35px;
}

.card-item {
  border: solid 1px yellow;
}

/*
 * Badge classes
 */
 .badge {
  position: fixed;
  text-align: center;
  border: solid 1px purple;
}
.badge_ {
  display: flex;
  display: -webkit-flex;
}
.badge-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
 * Title classes
 */
.card-title {
  width: 200px;
}
@font-face {
  font-family: 'Trebuchet';
  src: url('/fonts/TREBUC.TTF');
}
.title {
  color: white;
  font-family: 'Trebuchet';
}

/*
 * Aember classes
 */
 .card-aember {
  position: fixed;
  margin-left: 200px;
  width: 32px;  
}

/*
 * Power classes
 */
.card-power {
  position: fixed;
  margin-left: 232px;
  width: 32px;
}
.power-badge {
  right: 35px;
  width: 32px;
}
.power-image_ {
  width: 32px;
}
.power-text {
  color: white;
  /*font-size: 20px;*/
  font-weight: 700;
}

/*
 * House classes
 */
 .house-logos {
  background-color: #23afde;
}
.card-house {
  position: fixed;
  margin-left: 264px;
  width: 32px;
}
.house-image {
  width: 23px;
}
