@import '../summary.scss';

// Power
$power-badge-height: $card-entry-height * 0.8;
$power-text-font-size: $card-entry-height * 0.5;
$power-text-font-weight: 600;

/*
 * Power classes
 */
.power-badge{
  /* Draw the image as background of the element */
  background-image: url('/images/misc/power.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  
  /* Size the element to the correct width of the image */
  height: $power-badge-height;

  /* Text written in this element (and thus, over it) should be centered*/
  text-align: center;
}
.power-text {
  /* Position the text over the image*/
  position: relative;

  /* Style the text */
  color: white;
  font-size: $power-text-font-size;
  font-weight: $power-text-font-weight;
}
