/*
 * Power classes
 */
.power-badge{
  /* Draw the image as background of the element */
  background-image: url('/images/misc/power.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  
  /* Size the element to the correct width of the image */
  width: 23px;

  /* Text written in this element (and thus, over it) should be centered*/
  text-align: center;
}
.power-text {
  /* Position the text over the image*/
  position: relative;

  /* Style the text */
  color: white;
  font-weight: 600;
}
