@import '../summary.scss';

// Card title
$title-padding-left: 0.5em;

$title-font-size: $card-entry-height * 0.75;
$title-font-weight: 100;

// Aember
$aember-badge-height: $card-entry-height * 0.8;
$aember-text-font-size: $card-entry-height * 0.5;
$aember-text-font-weight: 600;

// Card specificity
$card-specificity-font-size: $card-entry-height * 0.4;
$card-specificity-font-weight: 600;

/*
 * Title classes
 */
.fit {
  display: inline-block;
  white-space: nowrap;
  // Setting width will disable scaling up
  width: 100%
}
.title-text {
  color: white;
  font-family: 'Trebuchet MS';
  padding-left: $title-padding-left;
  font-size: $title-font-size;
  font-weight: $title-font-weight;
}

/*
 * Aember classes
 */
 .aember-badge{
  /* Draw the image as background of the element */
  background-image: url('/images/misc/aember.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  
  /* Size the element to the correct height of the image */
  height: $aember-badge-height;

  /* Text written in this element (and thus, over it) should be centered*/
  text-align: center;
}
.aember-text {
  /* Position the text over the image*/
  position: relative;

  /* Style the text */
  color: black;
  font-size: $aember-text-font-size;
  font-weight: $aember-text-font-weight;
}

/*
 * Card specificity presented in a badge
 */
.card-specificity {
  @extend .badge;
  @extend .badge-pill;
  @extend .badge-secondary;

  font-size: $card-specificity-font-size;
  font-weight: $card-specificity-font-weight;
}
