/*
 * Title classes
 */
 @font-face {
  font-family: 'Trebuchet';
  src: url('/fonts/TREBUC.TTF');
}
.title-text {
  color: white;
  font-family: 'Trebuchet';
  padding-left: 0.5em;
}

/*
 * Aember classes
 */
 .aember-badge{
  /* Draw the image as background of the element */
  background-image: url('/images/misc/aember.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  
  /* Size the element to the correct width of the image */
  width: 23px;

  /* Text written in this element (and thus, over it) should be centered*/
  text-align: center;
}
.aember-text {
  /* Position the text over the image*/
  position: relative;

  /* Style the text */
  color: black;
  font-weight: 600;
}
