.dbg {
 border: solid 1px #00ff00;
}

.card-entry {
  height: 35px;
}

/*
 * Title classes
 */
 @font-face {
  font-family: 'Trebuchet';
  src: url('/fonts/TREBUC.TTF');
}
.title-text {
  color: white;
  font-family: 'Trebuchet';
  padding-left: 0.5em;
}

/*
 * House classes
 */
.house-image {
  width: 23px;
}

.house-brobnar {
  background-color: #ec242b;
}

.house-dis {
  background-color: #d21c5e;
}

.house-logos {
  background-color: #23afde;
}

.house-mars {
  background-color: #080807;
}

.house-sanctum {
  background-color: #1c4c9e;
}

.house-shadows {
  background-color: #403e6d;
}

.house-untamed {
  background-color: #f05125;
}

/*
 * Aember classes
 */
 .aember-badge{
  /* Draw the image as background of the element */
  background-image: url('/images/misc/aember.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  
  /* Size the element to the correct width of the image */
  width: 23px;

  /* Text written in this element (and thus, over it) should be centered*/
  text-align: center;
}
.aember-text {
  /* Position the text over the image*/
  position: relative;

  /* Style the text */
  color: black;
  font-weight: 600;
}
