@import "~bootstrap/scss/bootstrap.scss";

// Sheet size
$sheet-width: 980px;
$sheet-height: 1049px;

// Column parameters
$column-size: 500px;
$column-gap: 0.5em;

// Archon image
$archon-opacity: 0.6;

// Group entry
$group-entry-height: 55px;
$group-title-size: 2.5em;

// Card entry
$card-entry-height: 44px;

// Houses
$house-image-height: 24px;
$house-brobnar-color: #ec242b;
$house-dis-color: #d21c5e;
$house-logos-color: #23afde;
$house-mars-color: #89c540;
$house-sanctum-color: #1c4c9e;
$house-shadows-color: #403e6d;
$house-untamed-color: #f05125;

// QR-code
$qrcode-size: 50px;
$qrcode-offset: 10px;

.summary-sheet {
  /* See .archon-image for an explanation of this position*/
  position: relative;

  width: $sheet-width;
  height: $sheet-height;
}

.columns {  
  -webkit-columns: 2 $column-size;
  -moz-columns: 2 $column-size;
  columns: 2 $column-size;

  -moz-column-fill: auto;
  column-fill: auto;

  -moz-column-gap: $column-gap;
  column-gap: $column-gap;

  width: $column-size;
  height: $sheet-height;
}

/**
 * Create a silent selector to allow group-entry and card-entry to extend it
 * and become a Bootstrap row with no-gutter that cannot be broken between
 * two columns.
 */
%summary-entry {
  @extend .row;
  @extend .no-gutters;
  @extend .align-items-center;
  
  // Make entry row unbreakable
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

/**
 * Background image placed on a div in order to be able to have an alpha.
 * This div is then placed on all the parent size, and at position 0;0
 * and at z-index -1 to be behind everything else in the parent.
 * To work, this hack needs that the parent has 'position: relative'.
 */
.archon-image {
  opacity: $archon-opacity;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

/*
 * Group classes
 */
.group-entry {
  @extend %summary-entry;
  height: $group-entry-height;
}

 @font-face {
  font-family: 'AgencyBold';
  src: url('/fonts/agencyb.TTF');
}
.group-title {
  font-family: 'AgencyBold';
  font-size: $group-title-size;
}
.group-count {
  @extend .badge;
  @extend .badge-light;  

  // Outline
  background-color: transparent;
  border: 3px solid black;
  border-radius: 25%;

  // Remove the top and bottom spaces
  padding-top: 0;
  padding-bottom: 0;

  // Make font size same as group title
  font-size: 100%;
}

/*
 * Card classes
 */
.card-entry {
  @extend %summary-entry;
  height: $card-entry-height;
}

/*
* House classes
*/
.house-image {
  height: $house-image-height;
}

.house-brobnar {
  background-color: $house-brobnar-color;
}

.house-dis {
  background-color: $house-dis-color;
}

.house-logos {
  background-color: $house-logos-color;
}

.house-mars {
  background-color: $house-mars-color;
}

.house-sanctum {
  background-color: $house-sanctum-color;
}

.house-shadows {
  background-color: $house-shadows-color;
}

.house-untamed {
  background-color: $house-untamed-color;
}

/*
 * QR Code classes
 */
.qrcode-image {
  position: absolute;
  bottom: $qrcode-offset;
  right: $qrcode-offset;

  width: $qrcode-size;
  height: $qrcode-size;
}
