.columns {  
  -webkit-columns: 2 500px;
  -moz-columns: 2 500px;
  columns: 2 500px;

  -moz-column-fill: auto;
  column-fill: auto;

  -moz-column-gap: 0.5em;
  column-gap: 0.5em;

  width: 500px;
  height: 875px;
}

/*
 * Group classes
 */
 @font-face {
  font-family: 'AgencyBold';
  src: url('/fonts/agencyb.TTF');
}
.group-title {
  font-family: 'AgencyBold';
  font-size: 1.3em;
  height: 35px;
}
