.columns {  
  -webkit-columns: 2 200px;
  -moz-columns: 2 200px;
  columns: 2 200px;

  -moz-column-fill: auto;
  column-fill: auto;

  width: 400px;
  height: 660px;
}

/*
 * Group classes
 */
 @font-face {
  font-family: 'AgencyBold';
  src: url('/fonts/agencyb.TTF');
}
.group-title {
  font-family: 'AgencyBold';
  font-size: 1.3em;
}
